<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <link rel="shotcut icon" href="bitbug_favicon.ico"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1047560_xq50ar43aqd.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-easytable/umd/css/index.css">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        #list{
            /* width: 100%;
            height: 100%; */
            /* background: red; */
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            /* transform: translate(-50%,-50%);
            border: 1px solid black; */
            /* background: red; */
        }
        #list-head{
            width: 100%;
            height: 20%;
            /* 100px */
            /* position: absolute; */
            /* background: yellow; */
            /* border-bottom: 1px solid rgb(5, 5, 29); */
        }
        #list-head .list-head-left{
            width: 20%;
            height: 100%;
            float: left;
            background: rgb(49, 59, 117);
        }
        #list-head .list-head-right{
            width: 80%;
            height: 100%;
            background: rgb(211, 214, 212);
            float: right;
        }
        #list-head .list-head-left h2{
            line-height: 8rem;
            text-align: center;
            /* font-size: 4rem; */
            color: white;
        }
        #list-head .list-head-right h2{
            line-height: 8rem;
            margin-left: 1rem;
            /* margin-top: 35px; */
            
            color: rgb(92, 87, 87);
        }
        #list-head .list-head-right h6{
            line-height: 8rem; 
            margin-left: 1rem;
            /* margin-top: 30px; */
            color: rgb(92, 87, 87);
        }
        #list-body{
            width: 20%;
            height: 80%;
            background: rgb(78, 95, 105);
            /* border-top: 1px solid black; */
        }
        #list-body .list-body-left li{
            list-style: none;
            height: 4.5rem;
            color: aliceblue;
            /* margin-left: 20px; */
            line-height: 4rem;
            text-align: center;
            cursor: pointer;
        }
        #list-body .list-body-left li.changeli{
            background:rgb(43, 53, 59);
        }
        #list-body .dow{
            position: absolute;
            right: 0px;
            top:10.5rem;
            background: rgb(231, 230, 230);
            height:80%;
            width: 80%;
            overflow-y:auto;
            display: none;
            /* border-top: 1px solid black; */
        }
        #list-body .show{
            display: block;
        }
        /* .table-xj td{
            margin-left: 20px;
        } */
        .hover{
            border: 2px solid red;
        }
    </style>
</head>
<body>
    <div id="list">
        <div id="list-head">
            <div class="list-head-left">
                <h2>客户数据管理系统</h2>
            </div>
            <div class="list-head-right">
                <h2>多打电话多出单，没事别老玩手机</h2>
                <!-- <h6>当前用户：小UU</h6> -->
            </div>
        </div>
        <div id="list-body" >
            <ul id="ul1" class="list-body-left">
                <li class="changeli" ><i class="iconfont icon-renyuan"></i>新建客户</li>
                <li id="getCustomersHasOrder" ><i class="iconfont icon-shangpin"></i>已预约客户</li>
                <li id="getCustomersImpression"><i class="iconfont icon-dizhi"></i>有印象客户</li>
                <li id="getCustomersDelayordertime"><i class="iconfont icon-mendian"></i>待确定预约时间客户</li>
                <li id="getCustomersVisit"><i class="iconfont icon-mendian"></i>预约上门客户</li>
                <li id="getCustomersDeal"><i class="iconfont icon-mendian"></i>已出单客户</li>
            </ul>
            <div id="content" >
                <div class="dow">
                    <form id="addCustomer" class="form-inline text-center" style="margin:15px;">
                        <table class="table-xj">
                            <tr>
                                <td>
                                    <label for="insurename">投保人姓名</label>
                                    <input name="insurename" type="text" class="form-control"  id="insurename" placeholder="请输入投保人姓名">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label >投保人性别</label>
                                    <input type="radio" checked="checked" name="insuregender" value="male" />男
                                    <input type="radio" name="insuregender" value="female" />女
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label for="insureidcard">投保人身份证号</label>
                                    <input name="insureidcard" type="text" class="form-control" id="insureidcard" placeholder="请输入投保人身份证号">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="byinsurename">被保险人姓名</label>
                                    <input name="byinsurename" type="text" class="form-control"  id="byinsurename" placeholder="请输入被保险人姓名">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label >被保险人性别</label>
                                    男
                                    <input type="radio" checked="checked" name="byinsuregender" value="male" />
                                    女
                                    <input type="radio" name="byinsuregender" value="female" />
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label for="byidcard">被保险人身份证号</label>
                                    <input name="byidcard" type="text" class="form-control" id="byidcard" placeholder="请输入被保险人身份证号">
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label for="relationship">投被保险人关系</label>
                                    <select id="relationship">
                                        <option value = "self">本人</option>
                                        <option value = "marriage">夫妻</option>
                                        <option value = "fatherdaughter">父女</option>
                                        <option value = "fatherchild">父子</option>
                                        <option value = "motherdaughter">母女</option>
                                        <option value = "motherchild">母子</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label for="phone">手机号</label>
                                    <input name="phone" type="text" class="form-control" id="phone" placeholder="请输入手机号">
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label for="address">地址</label>
                                    <input name="address" type="text" class="form-control" id="address" placeholder="请输入地址">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="bankcard">银行卡</label>
                                    <input name="bankcard" type="text" class="form-control" id="bankcard" placeholder="请输入银行卡号">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="issuename">产品名称</label>
                                    <input name="issuename" type="text" class="form-control" id="issuename" placeholder="请输入产品名称">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="safecard">保单号</label>
                                    <input name="safecard" type="text" class="form-control" id="safecard" placeholder="请输入保单号">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="paymentperiod">交费期间</label>
                                    <input name="paymentperiod" type="text" class="form-control" id="paymentperiod" placeholder="请输入交费期间">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="safeguardperiod">保障期间</label>
                                    <input name="safeguardperiod" type="text" class="form-control" id="safeguardperiod" placeholder="请输入保障期间">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="effectiveandexpirationdate">保单生效日至截止日</label>
                                    <input name="effectiveandexpirationdate" type="text" class="form-control" id="effectiveandexpirationdate" placeholder="请输入保单生效日至截止日">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="ordertime">已预约时间</label>
                                    <input name="ordertime" type="text" class="form-control" id="ordertime" placeholder="请输入已预约时间">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="notdealreason">未出单原因</label>
                                    <input name="notdealreason" type="text" class="form-control" id="notdealreason" placeholder="请输入已预约时间">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="notorderreason">未约时间原因</label>
                                    <input name="notorderreason" type="text" class="form-control" id="notorderreason" placeholder="请输入未约时间原因">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="shareperson">展业人员</label>
                                    <input name="shareperson" type="text" class="form-control" id="shareperson" placeholder="请输入展业人员">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="detail">备注</label>
                                    <input name="detail" type="text" class="form-control" id="detail" placeholder="请输入备注信息">
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label for="status">客户状态</label>
                                    <select id="status">
                                        <option value = "alreadyorder">已预约</option>
                                        <option value = "impressive">有印象</option>
                                        <option value = "delayordertime">待确定预约时间</option>
                                        <option value = "visit">预约上门</option>
                                        <option value = "deal">已经出单</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td><button id="add" type="button" class="btn btn-default" >添加</button></td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="dow"> <!--已经预约客户-->
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <td>序号</td>
                                <td>投保人姓名</td>
                                <td>性别</td>
                                <td>手机号</td>
                                <td>已预约时间</td>
                                <td>操作</td>
                            </tr>
                        </thead>
                        <tbody id="getCustomersHasOrderTarget">

                        </tbody>
                    </table>
                </div>
                <div class="dow"> <!--有印象客户-->
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <td>序号</td>
                                <td>投保人姓名</td>
                                <td>性别</td>
                                <td>手机号</td>
                                <td>未出单原因</td>
                                <td>操作</td>
                            </tr>
                        </thead>
                        <tbody id="getCustomersImpressiveTarget">

                        </tbody>
                    </table>
                </div>
                <div class="dow"> <!--待确定预约时间-->
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <td>序号</td>
                                <td>投保人姓名</td>
                                <td>性别</td>
                                <td>手机号</td>
                                <td>未约时间原因</td>
                                <td>操作</td>
                            </tr>
                        </thead>
                        <tbody id="getCustomersDelayordertimeTarget">

                        </tbody>
                    </table>
                </div>
                <div class="dow"> <!--预约上门-->
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <td>序号</td>
                                <td>投保人姓名</td>
                                <td>性别</td>
                                <td>手机号</td>
                                <td>地址</td>
                                <td>操作</td>
                            </tr>
                        </thead>
                        <tbody id="getCustomersVisitTarget">

                        </tbody>
                    </table>
                </div>
                <div class="dow"> <!--已出单-->
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <td>序号</td>
                                <td>投保人姓名</td>
                                <td>投保人性别</td>
                                <td>投保人身份证号</td>
                                <td>被保险人姓名</td>
                                <td>被保险人性别</td>
                                <td>被保险人身份证号</td>
                                <td>手机号</td>
                                <td>银行卡</td>
                                <td>地址</td>
                                <td>产品名称</td>
                                <td>保单号</td>
                                <td>交费期间</td>
                                <td>保障期间</td>
                                <td>保单生效日至截止日</td>
                                <td>展业人员</td>
                                <td>操作</td>
                            </tr>
                        </thead>
                        <tbody id="getCustomersDealTarget">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        //点击左侧标题切换
        var lis = document.getElementById("ul1").getElementsByTagName("li");
        var divs = document.getElementById("content").getElementsByTagName("div");
        for(var i=0; i<lis.length; i++){
            lis[i].index = i;
            lis[i].onclick = function(){
                for(var j=0; j<lis.length; j++){
                    lis[j].className = "";
                }
                this.className ="hover";
                for(var i=0; i<divs.length; i++){
                    divs[i].style.display="none";
                }
                divs[this.index].style.display = "block";
            }
        }

        //截取cookie中userId
        var pre = document.cookie.split("userId=")[1];
        var arr = pre;
        if(pre.indexOf(";") != -1){
            arr = pre.split(";")[0];
        }

        //添加客户ajax请求
        $("#add").click(function() {
            $.ajax({
                url: "/addCustomer",//要请求的服务器url
                //这是一个对象，表示请求的参数，两个参数：method=ajax&val=xxx，服务器可以通过request.getParameter()来获取
                //data:{method:"ajaxTest",val:value},
                data: {
                    userId: arr,
                    insurename: $("#insurename").val(),
                    insuregender: $("input[name='insuregender']:checked").val(),
                    insureidcard: $("#insureidcard").val(),
                    byinsurename: $("#byinsurename").val(),
                    byinsuregender: $("input[name='byinsuregender']:checked").val(),
                    byidcard: $("#byidcard").val(),
                    relationship: $("#relationship").val(),
                    phone: $("#phone").val(),
                    address: $("#address").val(),
                    bankcard: $("#bankcard").val(),
                    issuename: $("#issuename").val(),
                    safecard: $("#safecard").val(),
                    paymentperiod: $("#paymentperiod").val(),
                    safeguardperiod: $('#safeguardperiod').val(),
                    effectiveandexpirationdate: $("#effectiveandexpirationdate").val(),
                    ordertime: $("#ordertime").val(),
                    notdealreason: $("#notdealreason").val(),
                    notorderreason: $("#notorderreason").val(),
                    shareperson: $("#shareperson").val(),
                    detail: $("#detail").val(),
                    status: $("#status").val()
                },
                async: true,   //是否为异步请求
                cache: false,  //是否缓存结果
                type: "POST", //请求方式为POST
                dataType: "json",   //服务器返回的数据是什么类型
                success: function(result){  //这个方法会在服务器执行成功是被调用 ，参数result就是服务器返回的值(现在是json类型)
                     alert(result.message);
                     $("#insurename").val("");
                     $("#insureidcard").val("");
                     $("#byinsurename").val("");
                     $("#byidcard").val("");
                     $("#relationship").val("");
                     $("#phone").val("");
                     $("#address").val("");
                     $("#bankcard").val("");
                     $("#issuename").val("");
                     $("#safecard").val("");
                     $("#paymentperiod").val("");
                     $("#safeguardperiod").val("");
                     $("#effectiveandexpirationdate").val("");
                     $("#ordertime").val("");
                     $("#notdealreason").val("");
                     $("#notorderreason").val("");
                     $("#shareperson").val("");
                     $("#detail").val("");
                }
            });
        });

        //获取已预约客户
        $("#getCustomersHasOrder").click(function() {
            $("#getCustomersHasOrderTarget").html("")
            $.ajax({
                url: "/getCustomers_hasOrder",//要请求的服务器url
                //这是一个对象，表示请求的参数，两个参数：method=ajax&val=xxx，服务器可以通过request.getParameter()来获取
                //data:{method:"ajaxTest",val:value},
                data: {
                    userId: arr,
                },
                async: true,   //是否为异步请求
                cache: false,  //是否缓存结果
                type: "POST", //请求方式为POST
                dataType: "json",   //服务器返回的数据是什么类型
                success: function(customers){  //这个方法会在服务器执行成功是被调用 ，参数result就是服务器返回的值(现在是json类型)
                    for(var i = 0; i < customers.length; i++){
                        if (customers[i][1] == "female"){
                            customers[i][1] = "女";
                        }else{
                            customers[i][1] = "男";
                        }
                        s = "<tr v-for='item in showlist'><td>" + (i+1) + "</td><td>" + customers[i][0] + "</td><td>" + customers[i][1] + "</td><td>" +
                        customers[i][2] + "</td><td>" + customers[i][3] + "</td><td>" + "<button class=\"btnclass\" name=\"" + customers[i][4] +"\">删除</button>" + "</td></tr>";
                        $("#getCustomersHasOrderTarget").append(s);
                    }
                    delete1();
                }
            });
        });

        //获取有印象客户
        $("#getCustomersImpression").click(function() {
            $("#getCustomersImpressiveTarget").html("")
            $.ajax({
                url: "/get_customers_impressive",//要请求的服务器url
                //这是一个对象，表示请求的参数，两个参数：method=ajax&val=xxx，服务器可以通过request.getParameter()来获取
                //data:{method:"ajaxTest",val:value},
                data: {
                    userId: arr,
                },
                async: true,   //是否为异步请求
                cache: false,  //是否缓存结果
                type: "POST", //请求方式为POST
                dataType: "json",   //服务器返回的数据是什么类型
                success: function(customers){  //这个方法会在服务器执行成功是被调用 ，参数result就是服务器返回的值(现在是json类型)
                    for(var i = 0; i < customers.length; i++){
                        if (customers[i][1] == "female"){
                            customers[i][1] = "女";
                        }else{
                            customers[i][1] = "男";
                        }
                        s = "<tr v-for='item in showlist'><td>" + (i+1) + "</td><td>" + customers[i][0] + "</td><td>" + customers[i][1] + "</td><td>" +
                        customers[i][2] + "</td><td>" + customers[i][3] + "</td><td>" + "<button class=\"btnclass\" name=\"" + customers[i][4] +"\">删除</button>" + "</td></tr>";
                        $("#getCustomersImpressiveTarget").append(s);
                    }
                    delete1();
                }
            });
        });

        //待确定预约时间客户
        $("#getCustomersDelayordertime").click(function() {
            $("#getCustomersDelayordertimeTarget").html("")
            $.ajax({
                url: "/get_customers_delayordertime",//要请求的服务器url
                //这是一个对象，表示请求的参数，两个参数：method=ajax&val=xxx，服务器可以通过request.getParameter()来获取
                //data:{method:"ajaxTest",val:value},
                data: {
                    userId: arr,
                },
                async: true,   //是否为异步请求
                cache: false,  //是否缓存结果
                type: "POST", //请求方式为POST
                dataType: "json",   //服务器返回的数据是什么类型
                success: function(customers){  //这个方法会在服务器执行成功是被调用 ，参数result就是服务器返回的值(现在是json类型)
                    for(var i = 0; i < customers.length; i++){
                        if (customers[i][1] == "female"){
                            customers[i][1] = "女";
                        }else{
                            customers[i][1] = "男";
                        }
                        s = "<tr v-for='item in showlist'><td>" + (i+1) + "</td><td>" + customers[i][0] + "</td><td>" + customers[i][1] + "</td><td>" +
                        customers[i][2] + "</td><td>" + customers[i][3] + "</td><td>" + "<button class=\"btnclass\" name=\"" + customers[i][4] +"\">删除</button>" + "</td></tr>";
                        $("#getCustomersDelayordertimeTarget").append(s);
                    }
                    delete1();
                }
            });
        });

        //预约上门
        $("#getCustomersVisit").click(function() {
            $("#getCustomersVisitTarget").html("")
            $.ajax({
                url: "/get_customers_visit",//要请求的服务器url
                //这是一个对象，表示请求的参数，两个参数：method=ajax&val=xxx，服务器可以通过request.getParameter()来获取
                //data:{method:"ajaxTest",val:value},
                data: {
                    userId: arr,
                },
                async: true,   //是否为异步请求
                cache: false,  //是否缓存结果
                type: "POST", //请求方式为POST
                dataType: "json",   //服务器返回的数据是什么类型
                success: function(customers){  //这个方法会在服务器执行成功是被调用 ，参数result就是服务器返回的值(现在是json类型)
                    for(var i = 0; i < customers.length; i++){
                        if (customers[i][1] == "female"){
                            customers[i][1] = "女";
                        }else{
                            customers[i][1] = "男";
                        }
                        s = "<tr v-for='item in showlist'><td>" + (i+1) + "</td><td>" + customers[i][0] + "</td><td>" + customers[i][1] + "</td><td>" +
                        customers[i][2] + "</td><td>" + customers[i][3] + "</td><td>" + "<button class=\"btnclass\" name=\"" + customers[i][4] +"\">删除</button>" + "</td></tr>";
                        $("#getCustomersVisitTarget").append(s);
                    }
                    delete1();
                }
            });
        });

        //已出单
        $("#getCustomersDeal").click(function() {
            $("#getCustomersDealTarget").html("")
            $.ajax({
                url: "/get_customers_deal",//要请求的服务器url
                //这是一个对象，表示请求的参数，两个参数：method=ajax&val=xxx，服务器可以通过request.getParameter()来获取
                //data:{method:"ajaxTest",val:value},
                data: {
                    userId: arr,
                },
                async: true,   //是否为异步请求
                cache: false,  //是否缓存结果
                type: "POST", //请求方式为POST
                dataType: "json",   //服务器返回的数据是什么类型
                success: function(customers){  //这个方法会在服务器执行成功是被调用 ，参数result就是服务器返回的值(现在是json类型)
                    for(var i = 0; i < customers.length; i++){
                        if (customers[i][1] == "female"){
                            customers[i][1] = "女";
                        }else{
                            customers[i][1] = "男";
                        }
                        if (customers[i][4] == "female"){
                            customers[i][4] = "女";
                        }else{
                            customers[i][4] = "男";
                        }
                        s = "<tr v-for='item in showlist'><td>" + (i+1) + "</td><td>" + customers[i][0] + "</td><td>" + customers[i][1] + "</td><td>" +
                        customers[i][2] + "</td><td>" + customers[i][3] + "</td><td>" + customers[i][4] + "</td><td>" + customers[i][5] + "</td><td>" + customers[i][6] + "</td><td>" + customers[i][7] + "</td><td>" + customers[i][8] + "</td><td>" + customers[i][9] + "</td><td>" + customers[i][10] + "</td><td>" + customers[i][11] + "</td><td>" + customers[i][12] + "</td><td>" + customers[i][13] + "</td><td>" + customers[i][14] + "</td><td>" + "<button class=\"btnclass\" name=\"" + customers[i][15] +"\">删除</button>" + "</td></tr>";
                        $("#getCustomersDealTarget").append(s);
                    }
                    delete1();
                }
            });
        });

        function delete1(){
            //点击删除，弹confirm对话框
            $(".btnclass").click(function() {
                if(confirm("确定删除此客户吗？")){
                    var customerId = $(this).attr("name");
                    $.ajax({
                        url: "/deleteCustomer",
                        data: {
                            userId: arr,
                            customer_id : customerId
                        },
                        async: true,   //是否为异步请求
                        cache: false,  //是否缓存结果
                        type: "POST", //请求方式为POST
                        dataType: "json",   //服务器返回的数据是什么类型
                        success: function(result){  //这个方法会在服务器执行成功是被调用 ，参数result就是服务器返回的值(现在是json类型)
                            if(result.message == "success"){
                                location.reload()
                            }
                        }
                    });
                }
            });
        }
    </script>
</body>
</html>